exportPattern("^[[:alpha:]]+")
S3method(predict, regressor)
S3method(simulate, regressor)
S3method(predict, booster)
importFrom(Rcpp, evalCpp)
useDynLib(tisthemachinelearner, .registration = TRUE)
importFrom(R6,R6Class)
